{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "semi": true,
        "singleQuote": true,
        "printWidth": 100,
        "trailingComma": "all",
        "useTabs": false,
        "tabWidth": 4,
        "jsxSingleQuote": true,
        "bracketSpacing": true,
        "arrowParens": "avoid"
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "prefer-const": "warn",
    "no-console": "warn"
  }
}
